@import "../theme/theme.less";
.SEARCH-container{
	
}
.SEARCH-box-container{
	margin:10px auto
}


.SEARCH-box{
	color : #fff;
	padding:2px 0px;
	float :left;
	min-height:265px;
	border:solid 1px #ddd;
	margin:0px 1px 0px 0px;
	border-radius: 9px;
	position: relative;
	z-index:10;
	background-color: #ddd;
	    -webkit-box-shadow:     inset 1px 1px 5px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	               -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	                    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


/* ricerca estesa */
.SEARCH-box.uni{
	width: 41%
}
.SEARCH-box.ana,
.SEARCH-box.rac{
	width: 29%
}

/* ricerca compatta */
.SEARCH-box.compact{
	width: 49%;
	margin: 5px 2px;
	min-height: 0px;
	display: none;
	
}

.SEARCH-box.compact.header{
	width: 98%;
	margin: 0px 0px 0px 3px;
	display: block
}

.SEARCH-box.compact {
	float:left;
	clear:none
}

.SEARCH-box.compact .FORM-field-row{
	float:left;
	width:130px;
	clear:none
}


.SEARCH-box.compact.header{
	float:left;
	clear:none
}

.SEARCH-box.compact.header .FORM-field-row{
	float:left;
	width:130px;
	clear:none
}

.SEARCH-box.compact .FORM-field-row{
	margin:0px
}

.SEARCH-box.compact select{
	width:90%
}

.SEARCH-box.compact .SEARCH-box-item-container{
	margin:7px;
	float:left;
	clear:none;
	padding: 0px
}


.SEARCH-box-header{
	color : #222;
	height: 32px;
	font-size: 13px;
	font-weight:bold;
	padding:8px 10px;
	float : left;
	clear: both;
	width: 120px
}

.SEARCH-box-title{
	float: left;
	margin: 9px;
}

.SEARCH-box-header-separator{
	background-image: url(img/horizontal_separator.png);
	width: 65%;
	margin:0px auto;
	height:2px;
	clear: both
}

.SEARCH-box-item-container{
	font-size: 12px;
	margin: 10px;
	padding-top : 5px;
	clear: both
}

.SEARCH-box-item-container ul{
	list-style-type:circle; 
}

.SEARCH-box-item-container ul li{
	padding: 3px;
	cursor: pointer
}

.SEARCH-box-item-container ul li:hover{
	color: #2aa6c0
}

.SEARCH-inner-box{
	color : #fff;
	font-size: 12px;
	min-width :170px;
	min-height : 100px;
	margin : 10px 0px 0px 10px;
	padding:1px 4px;
	overflow : auto;
	border : solid 1px #2a2a2a;
	float :left;
	border-radius: 5px;
	background-color: #222222;
	    -webkit-box-shadow:     inset 1px 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	               -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	                    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
}

.SEARCH-inner-box-header{
	margin: 0px 0px 0px -7px;
	height: 28px;
	font-size: 12px;
	padding:2px;
	float : left;
	overflow :hidden;
	clear: both
}

.SEARCH-inner-box-header .badge-label{
	color: #eee;
	margin: 2px 0px 0px -10px
}

.SEARCH-inner-box-header-separator{
	background-image: url(img/horizontal_separator_dark.png);
	width: 65%;
	margin:0px auto;
	height:2px;
	clear: both
}

.SEARCH-inner-box-item-container{
	font-size: 11px;
	margin: -5px 0px 0px -25px;
	clear: both
}

.SEARCH-inner-box-item-container ul{
	list-style-type:none;
}

.SEARCH-inner-box-item-container ul li{
	padding: 2px;
	cursor: pointer
}

.SEARCH-inner-box-item-container ul li:hover{
	color: #2aa6c0
}

.SEARCH-box-more-fields{
	display: none;
}


/* active fields */

.SEARCH-container input.active-field,.SEARCH-container select.active-field{
	background-color: @THEME-activeBg;
	color : @THEME-activeColor;
}

.SEARCH-container .checkbox-container,
.SEARCH-container .radio-container{
	background-color: #cacaca
}

.SEARCH-container .checkbox-container.active-field,
.SEARCH-container .radio-container.active-field {
	background-color: @THEME-activeBg;
	color : @THEME-activeColor;
}

/* tags */

.SEARCH-tags-container{
	clear: both;
}

.SEARCH-tags-container > div {
	float: left;
	margin: 10px 2px
}

.SEARCH-tags-container > div > div.SEARCH-tag-container{
	float: left;
	padding: 2px 4px;
	margin: -3px 0px 0px 0px;
	background-color: @THEME-activeBg;
	color : @THEME-activeColor;
	border-radius: 3px;
	border: solid 1px #DDD;
}

.SEARCH-tag-container > div{
	float: left;
	margin: 0px 0px 0px 10px;
	background-image: url(img/x.png);
	width: 15px;
	height: 14px;
	cursor: pointer
}
.SEARCH-tag-container > div:hover{
	background-color: #555
}

.SEARCH-tag-container > span{
	float: left;
	margin: 0px 0px 0px 2px
}



