.TOOL-big-arrows{
	background-image: url(img/big_arrows.png);
	width: 22px;
	height: 33px;
	cursor: pointer;
	margin: 5px
}

.TOOL-big-arrows.forward{
	 background-position: -22px 0px;
}

.TOOL-big-arrows.forward:hover{
	 background-position: -44px 0px; 
}

.TOOL-big-arrows.forward.disabled{
	 background-position: 0px 0px;
	 cursor: default
}

.TOOL-big-arrows.back{
	 background-position: -88px 0px;
}

.TOOL-big-arrows.back:hover{
	 background-position: -66px 0px; 
}

.TOOL-big-arrows.back.disabled{
	 background-position: -110px 0px;
	 cursor: default
}


.TOOL-little-arrows{
	background-image: url(img/little_arrows.png);
	width: 26px;
	height: 35px;
	cursor: pointer;
	margin: 5px
}

.TOOL-little-arrows.right{
	 background-position: 0px 0px;
	 position: absolute;
	 right: 15px
}

.TOOL-little-arrows.right:hover{
	 background-position: -26px 0px; 
}

.TOOL-little-arrows.left{
	 background-position: -78px 0px;


}

.TOOL-little-arrows.left:hover{
	 background-position: -52px 0px; 
}

