.TOOL-big-arrows{
	background-image: url(img/big_arrows.png);
	width: 22px;
	height: 33px;
	cursor: pointer;
	margin: 5px
}

.TOOL-big-arrows.forward{
	 background-position: 0px 0px;
}

.TOOL-big-arrows.forward:hover{
	 background-position: -22px 0px; 
}

.TOOL-big-arrows.back{
	 background-position: -66px 0px;


}

.TOOL-big-arrows.back:hover{
	 background-position: -44px 0px; 
}

