.MAINAREA-header{
	height: 30px
}

.MAINAREA-controller{
	background-color:#222;
	vertical-align: top;
}



.MAINAREA-navigator{
	height: 30px;
	
}

.MAINAREA-main{
	height: 100%
}
.MAINAREA-main td{
	vertical-align: top
}

.MAINAREA-slider{
	
}

.MAINAREA-slider ul{
	list-style-type:none;
	margin: 0px;
	padding: 0px
}

.MAINAREA-slider ul li{
	float: left;
	width: 100%;
}

.MAINAREA-slider ul li:first-child{
	display: block
}

.MAINAREA-sheet-footer{
	background-color:#222;
	vertical-align: top;
	height:30px;
	display: none
}
