.MAIN-header{
	height: 40px;
	overflow: hidden;
	margin: 0px 9px;
	border : solid 1px #bbb;
	border-bottom : none;
	background-image: url(img/alpha20.png);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.MAIN-title{
}

.MAIN-title > div{
	float: left;
	margin: -2px 0px 0px 5px
}

.MAIN-title-text{
	padding-top : 14px;
	font-weight: bold;
	font-size: 14px;
	color: #444
}


.MAIN-footer{
	height: 52px;
}

.MAIN-footer-container{
	width:100%;
	padding-top: 3px;
	margin: 0px auto;
	text-align: center;
	white-space: nowrap;
	line-height: 12px;
	overflow: hidden;
}

.MAIN.footer-container button{
	display: inline-block;
	white-space: normal;
	text-align: normal;
	vertical-align: middle;
}
